<div class="questionAnswerArea">
  <!-- Question -->
  <h2>
    {{currentIndex + 1}}.
    {{jsonDataResult[currentIndex].question}}
    (choice {{rightAnswer[currentIndex].trueAnswersIndex.length}})
  </h2>
  <!-- Answer -->
  <!-- Radio -->
  <div *ngIf="rightAnswer[currentIndex].trueAnswersIndex.length==1">
    <div *ngFor="let answer of jsonDataResult[currentIndex].answers;let key = index">
      <input type="radio" [id]="'ra'+key" [name]="'ra'+key" [value]="'ra'+key"
        [(ngModel)]="jsonDataResult[currentIndex].radioChoice" (click)="saveRadioIndex(answer)" />
      <label [for]="'ra'+key"> {{answer.content}} </label>
    </div>
  </div>
  <!-- Checkbox -->
  <div *ngIf="rightAnswer[currentIndex].trueAnswersIndex.length!=1">
    <div *ngFor="let answer of jsonDataResult[currentIndex].answers;let i = index">
      <input type="checkbox" [id]="'check'+i" [(ngModel)]="answer.correct" />
      <label [for]="'check'+i"> {{answer.content}} </label>
    </div>
  </div>
</div>
<!-- QuestionIndex -->
<div class="changeQuestionArea">
  <button class="btn1" (click)="preQuestion()" [disabled]="currentIndex==0">Previous</button>
  <button class="btn2" (click)="nextQuestion()" [disabled]="currentIndex==jsonDataResult.length-1">Next</button>
  <button type="submit" class="btn" (click)="onSubmit()">Submit</button>
  <br>
  <li class="question-item" *ngFor="let item of jsonDataResult;let key = index" (click)="changeIndex(key + 1)"
    [ngStyle]="{'background':changeBackgroColor(key)}">
    {{key + 1}}
  </li>
</div>